@model BookReader.Models.WishListViewModel

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>@Model.Name</h4>  <p><a class="btn btn-default" href="/WishList/Edit/@Model.Id">Изменить название &raquo;</a></p>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.Books.Count != 0)
        {
            foreach (var book in Model.Books)
            {
                <dd>
                    <p>
                        <img src="@book.Cover" /> <br />
                        <a href="/Book/Reed/@book.Id">@book.Name</a>   @Html.ActionLink("Удалить из избранного", "DeleteBookFromWishList", "WishList", new { bookId = book.Id, wishListId = Model.Id }, null)
                    </p>
                </dd>
            }
        }
        else
        {
            <dd>
                <h1> Библиотека пуста </h1>
            </dd>
        }
    </dl>
</div>
@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
