@model BookReader.Models.GetAuthorsViewModel
@{
    ViewBag.Title = "Authors";
}

@Html.ActionLink("Добавить автора", "Create")

<table class="table">
    <thead>
        <tr>
            <th>
                Имя Фамилия
            </th>
            <th>
                Книги автора
            </th>
            <th>
                Удалить
            </th>
            <th>
                Редактировать
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model.Authors)
        {

            <tr>
                <td>
                    @author.FirstName @author.LastName
                </td>
                <td>
                    @foreach (var book in author.Books)
                    {
                        <p>@book.Name</p>
                    }
                </td>
                <td>
                    @Html.ActionLink("Удалить", "Delete", new { id = author.Id })
                </td>
                <td>
                    <a href="/Author/Edit/@author.Id">Редактировать</a>
                </td>
            </tr>
        }
    </tbody>
</table>
