@model BookReader.Models.BookViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BookViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <img src="@Model.Cover" width="100" height="100" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Authors)
        </dt>

        <dd>
            @foreach (var author in Model.Authors)
            {
            <p>@author.FirstName @author.LastName</p>
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genres)
        </dt>

        <dd>
            @foreach (var genre in Model.Genres)
            {
                <p>@genre</p>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Annotation)
        </dt>

        <dd>
            @Html.Raw(Model.Body)
        </dd>
    </dl>
</div>
