@model BookReader.Models.Book.ReedBookViewModel
@using PagedList.Mvc;

@{
    ViewBag.Title = "Reed";
}
    <head>
        <meta charset="utf-8" />
    </head>
    <div class="reed-book">
        <p><a class="btn btn-default" href="/Home/Index">Назад к списку книг&raquo;</a></p>
    </div>

    <div class= "wrapper">
        <div class="book-info">
            <div class="image">
                <img src="@Model.Cover" width="200" height="300" />
            </div>
            <div class="name-authors-genres">
                <p class="title">
                    <h2>@Model.Name</h2>
                </p>
                Авторы:
                @foreach (var author in Model.Authors)
                {
                    <a href="/Author/Details/@author.Id">@author.FirstName @author.LastName</a><br />
                }
                Жанры:

                @foreach (var genre in Model.Genres)
                {
                    <a class="genre-name-book-details" href="/Genre/Details/@genre.Id">@genre.Name</a>
                }

                <p></p>
                <hr />
                <p></p>
                <p class="annotation">@Model.Annotation</p>
                <hr />
                <br />
            </div>
        </div>
        <div class="book-body">
            @foreach (var item in Model.Pages)
            {
                @Html.Raw(item)
            }
        </div>
        <br />

        <div>
            @Html.PagedListPager(Model.Pages, page => Url.Action("Reed", new { page }))
        </div>

    </div>
    @*<div class="book-body">
            @Html.Raw(Model.Body)
        </div>*@


   

