
    <p>
        @Html.ActionLink("Книги", "Books", "Book")
    </p>
    <p>
        @Html.ActionLink("Жанры", "Genres", "Genre")
    </p>
    <p>
        @Html.ActionLink("Авторы", "Authors", "Author")
    </p>
    <p>
    @Html.ActionLink("Статистика", "Statistics", "Admin")
    </p>
    <p>
        @Html.ActionLink("Информация о зарегистрированных пользователях", "UsersInfo", "Admin")
    </p>


